#myJumbo {
  border-radius: 0;
}

#portfolioTitle {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

#picRow {
  font-family: 'Lato', sans-serif;
}

#grayScale {
  filter: grayscale(100%);
}

#tvtImage, #webGLImage {
  width: 75%;
}

