* {
  border-radius: 0;
}

#myNav {
  opacity: 0.9;
}

#brandName {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.navBarLinks a {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  font-size: smaller;
}

.myclass  {
  height: 100%;
}