* {
  border-radius: 0;
}

#brandName {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.navBarLinks a {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  font-size: smaller;
}

#mainContainer {
  padding: 10px;
}

#personalImg {
  width: 30%;
  margin: 100px 0 45px 0;
  border: 3px #007bff solid;
  filter: brightness(80%);
}

#mainContainer h3 {
  font-family: 'Montserrat', sans-serif;
  padding: 0 0 20px 0;
}

#aboutMe {
  padding: 50px 20px 50px 20px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

#aboutCard, #eduCard {
  padding: 10px
}

#aboutButton, #eduButton {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

#collapseAbout a {
  text-decoration: none;
}

#myFooter {
  padding: 20px 0 20px 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
}

#copyrightFooter {
  margin: 0 0 0 10px;
}

#socialMediaLinks {
  margin: 0 10px 0 0;
}

#linkedinIcon, #githubIcon, #stackoverflowIcon {
  padding: 5px;
}

#linkedinIcon:hover, #githubIcon:hover, #stackoverflowIcon:hover {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  #brandName {
    font-size: 18px;
  }

  #personalImg {
    width: 50%;
  }

  #mainContainer h3 {
    font-size: 25px;
  }
}