#myJumboPortfolio {
  border-radius: 0;
  margin: 0;
}

#portfolioTitle {
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-size: 75px;
  margin: 0;
}

#portfolioContent {
  margin: 0;
  padding: 20px 10px 0 10px;
}

#picRow, #picRow2, #picRow3 {
  font-family: 'Lato', sans-serif;
  padding: 0 0 20px 0;
}

#tvtCol, #osCol, #glCol, #sensifyCol, #burgerCol, #employeeCol, #weatherCol, #quizCol {
  padding-top: 10px;
}

#tvtImage, #osImage, #webGLImage, #sensifyImage, #burgerImage, #employeeImage, #weatherImage, #quizImage {
  width: 75%;
  filter: grayscale(100%);
}

#tvtModal img, #osModal img, #webGLModal img, #sensifyModal img, #burgerModal img, #employeeImage img, #weatherImage img, #quizImage img {
  width: 100%;
  border-radius: 1px;
}

#tvtImage:hover, #osImage:hover, #webGLImage:hover, #sensifyImage:hover, #burgerImage:hover, #employeeImage:hover, #weatherImage:hover, #quizImage:hover {
  filter: grayscale(0%);
}

.closeButton {
  margin-right: 10px;
  margin-bottom: 5px;
}

.modalText {
  margin: 10px;
}

.modalText a {
  text-emphasis: none;
  cursor: pointer;
}

.carouselCaptions {
  color: black;
}

#info {
  padding: 10px 10px 20px 10px;
  margin-bottom: 0;
}

#description {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  #portfolioTitle {
    font-size: 50px;
  }

  #description {
    font-size: 15px;
  }
}