* {
  border-radius: 0;
}

#myNav {
  /*opacity: 0.9;*/
}

#brandName {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.navBarLinks a {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  font-size: smaller;
}

.myclass  {
  height: 100%;
}

#myFooter {
  padding: 20px 0 20px 0;
}

#copyrightFooter {
  margin: 0 0 0 10px;
}

#socialMediaLinks {
  margin: 0 10px 0 0;
}

#linkedinIcon, #githubIcon, #stackoverflowIcon {
  padding: 5px;
}

#linkedinIcon:hover, #githubIcon:hover, #stackoverflowIcon:hover {
  text-decoration: none;
}